---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog/">Blog</a>


	<h2>About astro</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde fugit voluptate architecto, minima dignissimos in tenetur, sint necessitatibus ipsa consequuntur et iure nihil, saepe officia molestias doloremque autem iste doloribus?
    </p>
</Layout>