---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog/">Blog</a>

	<h2>Blog</h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias sapiente ullam maiores tempora, voluptatum molestiae soluta reprehenderit sint delectus iste temporibus officiis consectetur tempore suscipit, autem vero, asperiores cumque impedit eveniet magni sequi. Aut quis ipsam maxime ab autem fuga.
</Layout>